<!DOCTYPE html>
<html lang="en">
<head>
        
    <title>La Suprema</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="Assets/Icons/Icon.svg" type="image/x-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:ital,wght@0,400;1,500&display=swap" rel="stylesheet">
        
    <!-- Boostrap -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/css/bootstrap.min.css" integrity="sha512-T584yQ/tdRR5QwOpfvDfVQUidzfgc2339Lc8uBDtcp/wYu80d7jwBgAxbyMh0a9YM9F8N3tdErpFI8iaGx6x5g==" crossorigin="anonymous" referrerpolicy="no-referrer">
    
    <!-- CSS -->
    <link href="CSS/Navbar.css" rel="stylesheet">
    <link href="CSS/Footer.css" rel="stylesheet">
    
</head>
</head>
<body>

    <header class="fixed-top">
        <nav class="navbar navbar-expand-lg navbar-dark scrolling-navbar">
        
            <a class="navbar-brand" href="index.html"><img src="Assets/Images/Brand-Logo.svg" id="brand-logo"></a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                <i class="fa fa-bars"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbar-collapse">

                <form class="form-inline ml-xl-5 mr-lg-auto w-50" id="search-box">
                    <div class="input-group w-100">
                        <input type="search" class="form-control search shadow-none" name="search" id="search" placeholder="Buscar productos">
                        <div class="input-group-append">
                            <button class="btn bg-white search-btn shadow-none" type="submit" id="search-btn"><i class="fas fa-search text-secondary"></i></button>
                        </div>
                    </div>
                </form>

                <ul class="navbar-nav " id="orange-navbar"></ul>

            </div>
        </nav>

        <nav class="navbar navbar-expand-md bg-white navbar-dark shadow-sm">
        
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#subnavbar-collapse">
                <i class="fa fa-bars text-brown"></i>
            </button>

            <div class="collapse navbar-collapse" id="subnavbar-collapse">

                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link ml-1 mr-4 p-1 text-brown" href="index.html">
                            Inicio
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mr-4 p-1 text-brown" href="Contact.html">
                            Contacto
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mr-4 p-1 text-brown" href="AboutUs.html">
                            Nosotros
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mr-4 p-1 text-brown" href="BranchOffices.html">
                            Sucursales
                        </a>
                    </li>
                </ul>

            </div>
        </nav>

    </header>


    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    <!-- Validate -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js" integrity="sha512-37T7leoNS06R80c8Ulq7cdCDU5MNQBwlYoy1TX/WUsLFC2eYNqtKlV0QjH7r8JpG/S0GUMZwebnVFLPd6SU5yg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    <!-- Popper JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
            
    <!-- Bootstrap -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/js/bootstrap.min.js" integrity="sha512-UR25UO94eTnCVwjbXozyeVd6ZqpaAE9naiEUBK/A+QDbfSTQFhPGj5lOR6d8tsgbBk84Ggb5A3EkjsOgPRPcKA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/48ce36e499.js" crossorigin="anonymous"></script>
    
</body>
</html>