.price {
    font-size: 24px;
    color: #3B1002;
}

#zoomC {
    /* (A) DIMENSIONS */
    width: 600px;
    height: 338px;
   
    /* (B) BACKGROUND IMAGE */
    background: url("../Assets/Images/IMG001.jpg");
    background-position: center;
    background-size: cover;
  }

.detail-view {
    background: url("../Assets/Images/IMG001.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.rating__star {
    cursor: pointer;
    color: #dabd18b2;
 }